table {
 width: 500px;
}

th{
text-align: left;
}

table, th, td {
 border: 1px solid #000;
 border-collapse: collapse;
}

tr:nth-child(even) {
	background-color: #fae5b6;
}

tr:nth-child(odd) {
	background-color: #d4e2ff;
}
